VITE_SUPABASE_URL=http://127.0.0.1:55321
VITE_SUPABASE_ANON_KEY= sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH

SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnaWJhaWl1dG9wbGxybGdxdGxsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTE1MjQ1MiwiZXhwIjoyMTA0NzI4NDUyfQ.K1n-yE5bZD6iKv0GXp90-i40TXiXtxX3feMNmLpVJMw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnaWJhaWl1dG9wbGxybGdxdGxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNTI0NTIsImV4cCI6MjEwNDcyODQ1Mn0.r2pxXWID7wLobb-bdFjyXuAlQRXBz8bsz5Yzcw9tfeQ
